<% if !(@playday == nil) %>
<div style="float:left">
<div class="jumbotron">
<h2><%= @playday.date %> <br><small><small> Available seats</small></small></h2>
<strong>8:00am:</strong>&nbsp&nbsp <%= @playday.eight_am %> seats available  <br><br>
<strong>9:00am:</strong>&nbsp&nbsp <%= @playday.nine_am %> seats available  <br><br>
<strong>10:00am:</strong> <%= @playday.ten_am %> seats available  <br><br>
<strong>11:00am:</strong> <%= @playday.eleven_am %> seats available  <br><br>
<strong>12:00pm:</strong> <%= @playday.twelve_pm %> seats available  <br><br>
<strong>1:00pm:</strong>&nbsp&nbsp  <%= @playday.one_pm %> seats available  <br><br>
<strong>2:00pm:</strong>&nbsp&nbsp <%= @playday.two_pm %> seats available  <br><br>
<strong>3:00pm:</strong>&nbsp&nbsp <%= @playday.three_pm %> seats available  <br><br>
<strong>4:00pm:</strong>&nbsp&nbsp <%= @playday.four_pm %> seats available  <br><br>
<strong>5:00pm:</strong>&nbsp&nbsp <%= @playday.five_pm %> seats available  <br><br>
<strong>6:00pm:</strong>&nbsp&nbsp <%= @playday.six_pm %> seats available  <br><br>
<strong>7:00pm:</strong>&nbsp&nbsp <%= @playday.seven_pm %> seats available  <br><br>
</div>
</div>
  <% end %>

<% if current_user.present? %>
  <div style= "float:right; padding-right: 150px">
  <div class="jumbotron">
    <h2>Make Your Reservation</h2><br>

    <%= simple_form_for @reservation,  validate: true do |f| %>

    <strong>Number of Passengers @ 600' </strong><%= f.input_field :six_hundred, collection: 0..15, :input_html => {:style => 'width: 20%'} %><br><br><br>
    <strong>Number of Passengers @ 800' </strong><%= f.input_field :eight_hundred, collection: 0..15, :input_html => {:style => 'width: 20%'} %><br><br><br>
    <strong>Number of Photo Packages </strong><%= f.input_field :photo, collection: 0..3, :input_html => {:style => 'width: 20%'}%><br><br><br>
    <strong>Time  </strong><%= f.input_field :time, validate: { presence: true, uniqueness: false }, :input_html => {:style => 'width: 20%'}, collection: ["8 am","9 am","10 am", "11 am", "12 pm", "1 pm", "2 pm","3 pm", "4 pm", "5 pm", "6 pm", "7 pm"] %><br><br><br>
    <strong>Date  </strong><%= f.input_field :date, :input_html => {:style => 'width: 20%'}%><br><br><br>
    <strong>Discount Code  </strong><%= f.input_field :discount, :input_html => {:style => 'width: 50%'} %><br><br><br>
    <%= f.button :submit %>
    <% end %>
  </div>
  </div>
<% else %>
Put Some shit about logging in here
<% end %>
