<% if current_user.present? %><br>
<div style="float:left">
  <div class="jumbotron">
    <div style="padding-left:20px; padding-right:20px">
    <h2>Update Reservation</h2><br>
    <small>Reservation No.
    <%= link_to @reservation.id, @reservation %><br>User: <%= @reservation.user.email %></small>
    <%= simple_form_for @reservation, validate: true do |reservation| %><br>
      <strong>Time<br></strong>
      <div class="row">
        <div style="float:left; padding-left:20px; ">
          <small><%= reservation.input_field :time, collection: ["8 am","830 am","9 am","930 am","10 am","1030 am", "11 am","1130 am",
             "12 pm","1230 pm", "1 pm", "130 pm","2 pm","230 pm","3 pm","330 pm", "4 pm","430 pm", "5 pm","530 pm", "630 pm","7 pm", "730 pm"] %></small><br><br>

      <span style="padding-left:0px;font-weight:bold">Date</span>
      <br><%= reservation.input :date, placeholder: "Pick Date", label: false, :input_html => {:style => 'color: green; float: left; width: 62%'} %><br><br>
      <div style="padding-left:0px;font-weight:bold">Enter Number of Participants</div>
      <div class="row">
        <div style="padding-left:20px;"><small>600 ft. - $65 per person </small><%= reservation.input_field :six_hundred, collection: 0..15, default: 0, :input_html => {:style => 'width: 25%'} %></div>
        <div style="padding-left:20px;"><small>800 ft. - $75 per person </small><%= reservation.input_field :eight_hundred, collection: 0..15, default: 0, :input_html => {:style => 'width: 25%'} %></div>
      </div><br>
      <span style="padding-left:0px;font-weight:bold">Number of Photo Packages</span>
      <div style="padding-left:10px;"><small>$30 each </small><%= reservation.input_field :photo, collection: 0..5, default: 0, :input_html => {:style => 'width: 25%'} %></div><br>
      <span style="padding-left:0px;font-weight:bold">Discount Code</span>
      <div><%= reservation.input_field :discount, placeholder: "Only one code allowed", :input_html => {:style => 'width: 65%'}%></div><br>
      <% if current_user.standard? %>
        <%= reservation.input :customer_first_name, :as => :hidden, input_html: { value: current_user.firstname} %>
        <%= reservation.input :customer_last_name, :as => :hidden, input_html: { value: current_user.lastname } %>
        <%= reservation.input :customer_phone_number, :as => :hidden, input_html: { value: current_user.phone} %>
        <%= reservation.input :customer_email, :as => :hidden, input_html: { value: current_user.email} %>
      <% end %>

      <% if current_user.admin? %>
        <small>
        <br> <%= reservation.input :customer_email %>
         <%= reservation.input :customer_first_name %>
         <%= reservation.input :customer_last_name %>
        <%= reservation.input :customer_phone_number %>
      </small>
      <% end %>
      <span style="padding-left:0px;font-weight:bold; text-align:center"><%= reservation.submit class: 'btn btn-success' %></span>
    <% end %>
  </div>
  </div>
</div>


<% end %>
