<h1>Reservations#edit</h1>
<p>Find me in app/views/reservations/edit.html.erb</p>
<%= simple_form_for [@playday, @reservation] do |f| %>
  <%= f.input :six_hundred %>
  <%= f.input :eight_hundred %>
  <%= f.input :date%>
  <%= f.input :time %>
  <%= f.button :submit, "Go To Checkout" %>
<% end %>
