<h3>My Reservations</h3>
<div class="jumbotron">
<div style="padding-left:10px">
<div class="row">
  <div class="col-md-8">
<small>
<% if current_user.standard? %>
  <% if @reservations.count >= 1 %>
    <% @reservations.each do |reservation| %>
    <div class="row">
      <%= link_to reservation.date, reservation %>&nbsp |
      <%= reservation.time %> | <span style="color:orange"><%= reservation.total_flights %></span> |
      <%= reservation.user.lastname %>, <%= reservation.user.firstname %> | <%= reservation.user.phone %><br>
    </div>
    <% end %>
  <% else %>
  You do not have any reservations at this time.<br>
  Pick a Date above to see Availabilities.
  <% end %>
<% elsif current_user.admin? %>
  <% @reservations.each do |reservation| %>
    <% if reservation.user.standard? %>
    <div class="row">
      <%= link_to reservation.date, reservation %>&nbsp |
      <%= reservation.time %> | <span style="color:orange"><%= reservation.total_flights %></span> |
      <%= reservation.user.lastname %>, <%= reservation.user.firstname %> | <%= reservation.user.phone %> | userID: <%= reservation.user.id %><br>
    </div>
    <% elsif reservation.user.admin? %>
    <div class="row">
      <%= link_to reservation.date, reservation %>&nbsp |
      <%= reservation.time %> | <span style="color:orange"><%= reservation.total_flights %></span> |
      <%= reservation.customer_last_name %>, <%= reservation.customer_first_name %>
       | <%= reservation.customer_phone_number %> | userID: <%= reservation.user.id %> <br>
    </div>
    <% end %>
  <% end %>
<% end %>
</small>
</div>
</div>
</div>
</div>
