<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

<%= @reservation.six_hundred %><br>
<%= @reservation.eight_hundred %><br>
<%= @reservation.date%><br>
<%= @reservation.time %><br>

<%= simple_form_for :reservation do |f| %>
  <%= f.input :six_hundred %>
  <%= f.input :eight_hundred %>
  <%= f.input :date%>
  <%= f.input :time %>
  <%= f.button :submit, "Go To Checkout" %>
<% end %>

<p id="price">
  $<%= @reservation.total_price %>
</p>
