<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

600': <%= @reservation.six_hundred %><br>
800': <%= @reservation.eight_hundred %><br>
Date: <%= @reservation.date%><br>
Time: <%= @reservation.time %><br>
Photo: <%=@reservation.photo %><br>
Discount: <%=@reservation.discount %><br>
