<div class="jumbotron">
<h3>This is Your Reservation Info!</h3>
<% if current_user.admin? && @reservation.user.admin? %><strong>
Customer Name: <%= @reservation.customer_last_name %>, <%= @reservation.customer_first_name %><br>
Customer Email: <%= @reservation.customer_email %><br>
Customer Phone Number: <%= @reservation.customer_phone_number %></strong><br>
Reservation Id: <%= @reservation.id %><br>
600': <%= @reservation.six_hundred %><br>
800': <%= @reservation.eight_hundred %><br>
Date: <%= @reservation.date%><br>
Time: <%= @reservation.time %><br>
Photo: <%= @reservation.photo %><br>
Discount Code: <%= @reservation.discount %><br>
Comments: <%= @reservation.comments %><br>
Total Price: $<%= @reservation.total_estimate %><br>
<span style="color:orange"><small>made by: <%= @reservation.user.firstname %></span>
<% else %>
timez: <%= @reservation.timez %><br>
Name: <%= @reservation.user.lastname %>, <%= @reservation.user.firstname %><br>
Email: <%= @reservation.user.email %><br>
Phone: <%= @reservation.user.phone %><br>
Reservation Id: <%= @reservation.id %><br>
600': <%= @reservation.six_hundred %><br>
800': <%= @reservation.eight_hundred %><br>
Date: <%= @reservation.date%><br>
Time: <%= @reservation.time %><br>
Photo: <%= @reservation.photo %><br>
Discount Code: <%= @reservation.discount %><br>
Comments: <%= @reservation.comments %><br>
Total Price: $<%= @reservation.total_estimate %><br><br>
<%= link_to "Click here", edit_user_registration_path, style: "color:orange" %>
to update your contact info
<% end %>

<br><br>

<%= link_to "Edit Reservation", edit_reservation_path(@reservation), class: 'btn btn-success btn-xs' %>
<%= link_to "Cancel Reservation", [@reservation], method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure you want to delete this Reservation?' } %></br>
</div>
