
<% unless current_user.present? %>
  <div style="padding-left:20px;float:left;width: 1000px;height: 1200px;border: 2px solid black;
  border-radius: 25px; background: url('http://s3-media4.fl.yelpcdn.com/bphoto/I5Onv6J6-CbFvJhA1OyiiA/o.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
    <div class="row">
      <h4 style="float:left;padding-left:10px;color:white"><br>Select a Date </h4>
        <div style="padding-top:25px; padding-left:130px">
          <%= form_for :playday, :defaults => {:required => false},url: :playdays do |f| %>
            <%= f.text_field :date, label: false,  :autofocus=>false,
            style: 'color:orange; font-weight: bold; border:2px solid black;border-radius:20px;text-align:center', :size=>"15" %>
          <% end %>
        </div><br>
    </div>
    <h4 style="padding-left:25px;color:white"><%= (Date.strptime(@playday.date, '%m-%d-%Y')).strftime("%A, %B %d") %></h4>

    <div style="width:440px">
      <table class="table table-condensed" width="200">
        <thead>
          <tr>
            <th>Time</th>
            <th>Spaces<br>Available</th>
            <% unless @playday.dirty_thirties_off? %>
              <th>Time</th>
              <th>Spaces<br>Available</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:00 am</td>
            <td><%= @playday.eight_am || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>8:30 am</td>
              <td><%= @playday.eight_thirty_am || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>9:00 am</td>
            <td><%= @playday.nine_am || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>9:30 am</td>
              <td><%= @playday.nine_thirty_am || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>10:00 am</td>
            <td><%= @playday.ten_am || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>10:30 am</td>
              <td><%= @playday.ten_thirty_am || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>11:00 am</td>
            <td><%= @playday.eleven_am || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>11:30 am</td>
              <td><%= @playday.eleven_thirty_am || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>12:00 pm</td>
            <td><%= @playday.twelve_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>12:30 pm</td>
              <td><%= @playday.twelve_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>1:00 pm</td>
            <td><%= @playday.one_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>1:30 pm</td>
              <td><%= @playday.one_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>2:00 pm</td>
            <td><%= @playday.two_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>2:30 pm</td>
              <td><%= @playday.two_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>3:00 pm</td>
            <td><%= @playday.three_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>3:30 pm</td>
              <td><%= @playday.three_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>4:00 pm</td>
            <td><%= @playday.four_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>4:30 pm</td>
              <td><%= @playday.four_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>5:00 pm</td>
            <td><%= @playday.five_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>5:30 pm</td>
              <td><%= @playday.five_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>6:00 pm</td>
            <td><%= @playday.six_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>6:30 pm</td>
              <td><%= @playday.six_thirty_pm || nil%></td>
            <% end %>
          </tr>
          <tr>
            <td>7:00 pm</td>
            <td><%= @playday.seven_pm || nil%></td>
            <% unless @playday.dirty_thirties_off? %>
              <td>7:30 pm</td>
              <td><%= @playday.seven_thirty_pm || nil%></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div style="padding-left:25px">
        <%= link_to "Make a Reservation", new_user_registration_path, class: 'btn btn-success btn-xl' %>
        <%= link_to "Manage your Reservations", new_user_session_path, class: 'btn btn-primary btn-xl' %><br><br>
      </div>
    </div>
    <% if false %><% if (current_user.nil? || current_user.standard?) && (@playday.date <= formatted_now) %>
      <span style="color:white"> <small><small>* Online reservations must be made by 8pm on the night prior to activity.<br>
      To reserve by phone call 310-510-1777.</small></small></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if current_user.present? %>
  <div style="float:left;width: 1000px;height: 1200px;border: 2px solid black;border-radius: 25px;
    background: url('http://s3-media4.fl.yelpcdn.com/bphoto/I5Onv6J6-CbFvJhA1OyiiA/o.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div style="padding-left:30px">
      <h3 style="color:white">Make a Reservation!</h3>
      <h4 style="padding-left:25px;color:white"><%= (Date.strptime(@playday.date, '%m-%d-%Y')).strftime("%A, %B %d") %></h4>
      <div class="row">
        <div style="padding-left:20px; padding-top:10px">
          <span style="color:black;font-weight:bold;">Date
            <%= form_for :playday, :defaults => {:required => false},url: :playdays do |f| %>
              <%= f.text_field :date, placeholder: "Pick Date", label: false %>
            <% end %>
          </span>
        </div>
      </div>
      <% if current_user.admin? %><br>
        <%= link_to "Edit Availabilities", edit_playday_path(@playday), class: 'btn btn-success btn-xs' %><br>
      <% end %>
      <%= simple_form_for @reservation, validate: true do |reservation| %><br>
        <span style="color:black"><small><strong>Time<br></strong></small></span>
        <div class="row">
          <div style="float:left; padding-left:20px;color:black">
            <small><%= reservation.input_field :time, as: :radio_buttons, collection: ["8 am","9 am","10 am", "11 am", "12 pm", "1 pm", "2 pm","3 pm", "4 pm", "5 pm", "6 pm", "7 pm"], checked: "" %></small>
          </div>
          <div style="float:left; padding-left:5px">
            <small>
              <div style="padding-top: 10px; color: black"> &nbsp&nbsp <%= @playday.eight_am || nil%> seats available</div>
              <div style="padding-top: 9px; color: black"> &nbsp&nbsp <%= @playday.nine_am || nil%> seats available </div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.ten_am || nil %> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.eleven_am || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.twelve_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.one_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.two_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.three_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.four_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.five_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.six_pm || nil%> seats available</div>
              <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.seven_pm || nil %> seats available</div><br>
            </small>
          </div>
          <% unless @playday.dirty_thirties_off? %>
            <div style="float:left; padding-left:40px">
              <small><%= reservation.input_field :time, as: :radio_buttons, collection: ["830 am","930 am","1030 am", "1130 am", "1230 pm", "130 pm", "230 pm","330 pm", "430 pm", "530 pm", "630 pm", "730 pm"], checked: "" %></small>
            </div>
            <div style="float:left; padding-left:5px">
              <small>
                <div style="padding-top: 10px; color: black"> &nbsp&nbsp <%= @playday.eight_thirty_am || nil%> seats available</div>
                <div style="padding-top: 9px; color: black"> &nbsp&nbsp <%= @playday.nine_thirty_am || nil%> seats available </div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.ten_thirty_am || nil %> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.eleven_thirty_am || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.twelve_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.one_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.two_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.three_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.four_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.five_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.six_thirty_pm || nil%> seats available</div>
                <div style="padding-top: 8px; color: black"> &nbsp&nbsp <%= @playday.seven_thirty_pm || nil %> seats available</div><br>
              </small>
            </div>
          <% end %>
      </div>
      <div style="padding-left:0px;font-weight:bold"><small>Enter Number of Participants</small></div>
      <div class="row">
        <div style="padding-left:20px;"><small>600 ft. - $65 per person </small><%= reservation.input_field :six_hundred, collection: 0..15, default: 0, :input_html => {:style => 'width: 25%'} %></div>
        <div style="padding-left:20px;"><small>800 ft. - $75 per person </small><%= reservation.input_field :eight_hundred, collection: 0..15, default: 0, :input_html => {:style => 'width: 25%'} %></div>
      </div><br>
      <span style="padding-left:0px;font-weight:bold"><small>Number of Photo Packages</small></span>
      <div style="padding-left:10px;"><small>$30 each </small><%= reservation.input_field :photo, collection: 0..5, default: 0, :input_html => {:style => 'width: 25%'} %></div><br>
      <span style="padding-left:0px;font-weight:bold"><small>Discount Code</small></span>
      <%= reservation.input :date, :as => :hidden, input_html: { value: @playday.date } %>
      <% if current_user.standard? %>
        <%= reservation.input :customer_first_name, :as => :hidden, input_html: { value: current_user.firstname} %>
        <%= reservation.input :customer_last_name, :as => :hidden, input_html: { value: current_user.lastname } %>
        <%= reservation.input :customer_phone_number, :as => :hidden, input_html: { value: current_user.phone} %>
        <%= reservation.input :customer_email, :as => :hidden, input_html: { value: current_user.email} %>
      <% end %>
      <div><%= reservation.input_field :discount, placeholder: "Only one code allowed", :input_html => {:style => 'width: 65%'}%></div>
      <% if current_user.admin? %>
        <small><br>
          <%= reservation.input :customer_email, :input_html => {:style => 'width: 35%'} %>
          <%= reservation.input :customer_first_name, :input_html => {:style => 'width: 35%'} %>
          <%= reservation.input :customer_last_name, :input_html => {:style => 'width: 35%'} %>
          <%= reservation.input :customer_phone_number, :input_html => {:style => 'width: 35%'} %>
        </small>
      <% end %>
      <small><%= reservation.input :comments, :input_html => {:style => 'width: 35%'} %></small>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Parasail Reservation"
        data-panel-label="Enter Card Info"
        data-label="Continue"
        </script>
    <% end %>
    <br><span style="color:white"><small>* You will not be charged at this time.
    See 'Policies' for more info.</small></span>
    </div>
  </div>
</div>
<% end %>
