
Online reservations must be made by no later than 8pm on the day before the reservation day. To reserve by phone call 310-510-1777<br><br>
<div style="float:left">
<div class="jumbotron">
<h3 style="color:blue">Available Seats for<br> <%= (Date.strptime(@playday.date, '%m-%d-%Y')).strftime("%A, %b %d") %></h3><br>
<strong>8:00am:</strong>&nbsp&nbsp <%= @playday.eight_am %> seats available  <br><br>
<strong>9:00am:</strong>&nbsp&nbsp <%= @playday.nine_am %> seats available  <br><br>
<strong>10:00am:</strong> <%= @playday.ten_am %> seats available  <br><br>
<strong>11:00am:</strong> <%= @playday.eleven_am %> seats available  <br><br>
<strong>12:00pm:</strong> <%= @playday.twelve_pm %> seats available  <br><br>
<strong>1:00pm:</strong>&nbsp&nbsp  <%= @playday.one_pm %> seats available  <br><br>
<strong>2:00pm:</strong>&nbsp&nbsp <%= @playday.two_pm %> seats available  <br><br>
<strong>3:00pm:</strong>&nbsp&nbsp <%= @playday.three_pm %> seats available  <br><br>
<strong>4:00pm:</strong>&nbsp&nbsp <%= @playday.four_pm %> seats available  <br><br>
<strong>5:00pm:</strong>&nbsp&nbsp <%= @playday.five_pm %> seats available  <br><br>
<strong>6:00pm:</strong>&nbsp&nbsp <%= @playday.six_pm %> seats available  <br><br>
<strong>7:00pm:</strong>&nbsp&nbsp <%= @playday.seven_pm %> seats available  <br><br>
</div>
</div>
<div style=float:right>
<div class="jumbotron">
  <h3 style="color:green">Reservation for <%= (Date.strptime(@playday.date, '%m-%d-%Y')).strftime("%A, %b %d") %> </h3><br>
  <%= simple_form_for @reservation, validate: true do |reservation| %>
  <%= reservation.input :date, :as => :hidden, input_html: { value: @playday.date } %>
  <%= reservation.input :six_hundred, label: "Number of Passengers @ 600ft- $65 each",  collection: 0..15 %>
  <%= reservation.input :eight_hundred, label: "Number of Passengers @ 800ft- $75 each",  collection: 0..15%>
  <%= reservation.input :time, collection: ["8 am","9 am","10 am", "11 am", "12 pm", "1 pm", "2 pm","3 pm", "4 pm", "5 pm", "6 pm", "7 pm"] %>
  <%= reservation.input :photo, label: "Number Photo Packages- $30 each",  collection: 0..5  %>
  <%= reservation.input :discount, placeholder: "Only one code allowed"%>
  <%= reservation.button :submit %>
  <% end %>
</div>
</div>
