<br>
<h2><%= @playday.date %> <small> Available seats</small></h2><br>
<strong>7:00am:</strong>&nbsp&nbsp <%= @playday.seven_am %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>8:00am:</strong>&nbsp&nbsp <%= @playday.eight_am %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>9:00am:</strong>&nbsp&nbsp <%= @playday.nine_am %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>10:00am:</strong> <%= @playday.ten_am %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>11:00am:</strong> <%= @playday.eleven_am %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>12:00pm:</strong> <%= @playday.twelve_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>1:00pm:</strong>&nbsp&nbsp  <%= @playday.one_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>2:00pm:</strong>&nbsp&nbsp <%= @playday.two_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>3:00pm:</strong>&nbsp&nbsp <%= @playday.three_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>4:00pm:</strong>&nbsp&nbsp <%= @playday.four_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>5:00pm:</strong>&nbsp&nbsp <%= @playday.five_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>6:00pm:</strong>&nbsp&nbsp <%= @playday.six_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>7:00pm:</strong>&nbsp&nbsp <%= @playday.seven_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
<strong>8:00pm:</strong>&nbsp&nbsp <%= @playday.eight_pm %> seats available | <%= link_to "CreateReservation",  style:"font-weight:bold" %><br><br>
