<br>
<h2><%= @playday.date %> <small> Available seats</small></h2><br>
7:00am: <%= @playday.seven_am %> seats open<br><br>
8:00am: <%= @playday.eight_am %> seats open<br><br>
9:00am: <%= @playday.nine_am %> seats open<br><br>
10:00am: <%= @playday.ten_am %> seats open<br><br>
11:00am: <%= @playday.eleven_am %> seats open<br><br>
12:00pm: <%= @playday.twelve_pm %> seats open<br><br>
1:00pm: <%= @playday.one_pm %> seats open<br><br>
2:00pm: <%= @playday.two_pm %> seats open<br><br>
3:00pm: <%= @playday.three_pm %> seats open<br><br>
4:00pm: <%= @playday.four_pm %> seats open<br><br>
5:00pm: <%= @playday.five_pm %> seats open<br><br>
6:00pm: <%= @playday.six_pm %> seats open<br><br>
7:00pm: <%= @playday.seven_pm %> seats open<br><br>
8:00pm: <%= @playday.eight_pm %> seats open<br><br>
