
<br>
<% unless current_user.present? %>

    <div style="float:left">
    <div class="jumbotron">
      <div class="row">
        <div style="float:left; padding-left:25px">
          <h3><%= (Date.strptime(@playday.date, '%m-%d-%Y')).strftime("%A, %b %d") %></h3>
          <strong>
          <div style="padding-top: 10px; color: blue">8:00 am &nbsp&nbsp&nbsp <%= @playday.eight_am || nil%> seats available</div>
          <div style="padding-top: 9px; color: blue"> 9:00 am &nbsp&nbsp&nbsp <%= @playday.nine_am || nil%> seats available </div>
          <div style="padding-top: 8px; color: blue"> 10:00 am &nbsp <%= @playday.ten_am || nil %> seats available</div>
          <div style="padding-top: 8px; color: blue"> 11:00 am &nbsp <%= @playday.eleven_am || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 12:00 pm &nbsp <%= @playday.twelve_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 1:00 pm &nbsp&nbsp&nbsp <%= @playday.one_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 2:00 pm &nbsp&nbsp&nbsp <%= @playday.two_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 3:00 pm &nbsp&nbsp&nbsp <%= @playday.three_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 4:00 pm &nbsp&nbsp&nbsp <%= @playday.four_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 5:00 pm &nbsp&nbsp&nbsp <%= @playday.five_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 6:00 pm &nbsp&nbsp&nbsp <%= @playday.six_pm || nil%> seats available</div>
          <div style="padding-top: 8px; color: blue"> 7:00 pm &nbsp&nbsp&nbsp <%= @playday.seven_pm || nil %> seats available</div><br>
          </strong>
        </div>
      </div>

      <div class="row">
        <div style="padding-right: 20px; padding-left:20px">
          <h3>Make a Reservation</h3><br>
            <h4>If you are a New User<br><br>
            <%= link_to "Enter Your Email Address Here", new_user_registration_path, class: 'btn btn-success' %><br><br>
            <br>If you have a User Account</h4><br>
            <%= link_to "Sign in Here", new_user_session_path, class: 'btn btn-primary' %><br><br>
        </div>
      </div>
    </div>
  </div>
        <% end %>

<% if current_user.present? %>
<div style="float:left">
  <div class="jumbotron">
    <span style="font-size:20px"><span class="glyphicon glyphicon-arrow-up"></span></span><small><small>
    use the availability selector to<br> chose a new reservation date </small></small>
    <h4 style="color:black"><h3>New Reservation</h3>
      <br><strong>Date</strong><br><%= (Date.strptime(@playday.date, '%m-%d-%Y')).strftime("%A, %b %d") %> </h4>
    <br>
    <%= simple_form_for @reservation, validate: true do |reservation| %>
      <br><strong>Time<br></strong>
      <div class="row">
        <div style="float:left; padding-left:20px">
          <small><%= reservation.input_field :time, as: :radio_buttons, collection: ["8 am","9 am","10 am", "11 am", "12 pm", "1 pm", "2 pm","3 pm", "4 pm", "5 pm", "6 pm", "7 pm"] %></small>
        </div>
        <small>
        <div style="padding-top: 10px; color: blue"> &nbsp&nbsp <%= @playday.eight_am || nil%> seats available</div>
        <div style="padding-top: 9px; color: blue"> &nbsp&nbsp <%= @playday.nine_am || nil%> seats available </div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.ten_am || nil %> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.eleven_am || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.twelve_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.one_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.two_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.three_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.four_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.five_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.six_pm || nil%> seats available</div>
        <div style="padding-top: 8px; color: blue"> &nbsp&nbsp <%= @playday.seven_pm || nil %> seats available</div><br>
          </small>
      </div>
      <%= reservation.input :date, :as => :hidden, input_html: { value: @playday.date } %>
      <div style="padding-left:0px;font-weight:bold">Enter Number of Participants</div>
      <div class="row">
        <div style="padding-left:20px;"><small>600 ft. - $65 per person </small><%= reservation.input_field :six_hundred, collection: 0..15, default: 0, :input_html => {:style => 'width: 25%'} %></div>
        <div style="padding-left:20px;"><small>800 ft. - $75 per person </small><%= reservation.input_field :eight_hundred, collection: 0..15, default: 0, :input_html => {:style => 'width: 25%'} %></div>
      </div><br>
      <span style="padding-left:0px;font-weight:bold">Number of Photo Packages</span>
      <div style="padding-left:10px;"><small>$30 each </small><%= reservation.input_field :photo, collection: 0..5, default: 0, :input_html => {:style => 'width: 25%'} %></div><br>
      <span style="padding-left:0px;font-weight:bold">Discount Code</span>
      <div><%= reservation.input_field :discount, placeholder: "Only one code allowed", :input_html => {:style => 'width: 65%'}%></div><br>
      <span style="padding-left:0px;font-weight:bold; text-align:center"><%= reservation.submit class: 'btn btn-success' %></span>
    <% end %>
  </div>
</div>


<% end %>
