<!DOCTYPE html>
<html>
<head>
  <title>PlayDays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
</head>
<body>
  <ul>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "PlayDaysIndex", playdays_path %></li>
      <li><%= link_to "MyReservations"%></li>
    </ul>

    <%= yield %>
  </div>

</body>
</html>
