<!DOCTYPE html>
<html>
<head>
  <title>PlayDays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "PlayDaysIndex", playdays_path %></li>
      <li><%= link_to "MyReservations"%></li>
    </ul>

    <%= yield %>
  </div>

</body>
</html>
