<!DOCTYPE html>
<html>
<head>
  <title>PlayDays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
</head>
<body>
  <ul>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "PlayDaysIndex", playdays_path %></li>
      <li><%= link_to "MyReservations"%></li>
    </ul>
    <h4>Search Availabilities by Date</h4>

    <%= simple_form_for :playday, :defaults => {:required => false}, url: :playdays do |f| %>
      <%= f.input :date, placeholder: "Choose a Date", label: false, :input_html => {:style => 'float:left;width: 28%'} %>
      <%= f.button :submit, 'Check Availability!' %>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash.now[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
